/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/Roboto-Bold.ttf"); }
@font-face {
  font-family: "roboto-medium";
  src: url("../fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: "roboto-light";
  src: url("../fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: "changa-one";
  src: url("../fonts/ChangaOne-Regular.ttf"); }
.roboto-regular {
  font-family: 'roboto-regular', serif; }

.roboto-medium {
  font-family: 'roboto-medium', serif; }

.roboto-bold {
  font-family: 'roboto-bold', serif; }

.roboto-light {
  font-family: 'roboto-light', serif; }

.changa-one {
  font-family: 'changa-one'; }

@media (min-width: 1200px) {
  .container_custom {
    max-width: 1255px !important; } }

.section_after, #blog-article, #press-centre-section, #mission-section, #final-section, #breadcrump {
  position: relative; }
  .section_after:after, #blog-article:after, #press-centre-section:after, #mission-section:after, #final-section:after, #breadcrump:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 16%;
    height: 100%;
    z-index: -1;
    background-color: #3C3C3C; }
    @media screen and (max-width: 768px) {
      .section_after:after, #blog-article:after, #press-centre-section:after, #mission-section:after, #final-section:after, #breadcrump:after {
        background-color: transparent !important; } }

.static-article {
  padding: 15px 0;
  text-align: justify;
  height: 100%; }
  .static-article h4 {
    color: #4A4A4A; }

#scroll-up {
  display: block;
  padding: 5px 15px;
  background-color: #8F8C8C;
  color: #fff;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1000;
  display: none;
  -webkit-transition: all 0.2s linear;
  -khtml-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  #scroll-up:hover {
    background-color: #D84846; }

.navigation-wrapper {
  padding: 30px 0;
  text-align: center; }
  .navigation-wrapper nav > ul.pagination {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-flex; }
    .navigation-wrapper nav > ul.pagination .active > a {
      background-color: #f5f5f5;
      border-color: #ddd; }
    .navigation-wrapper nav > ul.pagination .page-item {
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important; }
      .navigation-wrapper nav > ul.pagination .page-item .page-link {
        padding: 4px 12px;
        border-radius: 0;
        font-size: 14px;
        color: #D84846; }

.right-sight-news {
  width: 100%;
  height: auto;
  padding: 30px 30px;
  background-color: #4A4A4A;
  color: #fff; }
  .right-sight-news-list {
    padding-left: 0; }
    .right-sight-news-list-item {
      list-style-type: none;
      position: relative;
      margin-top: 12px; }
      .right-sight-news-list-item:before {
        content: "-";
        position: absolute;
        top: 0;
        left: 0; }
      .right-sight-news-list-item a {
        text-decoration: none;
        color: #fff;
        margin-left: 15px; }
.right-sight .right-sight-events {
  padding: 30px 30px;
  color: #fff;
  background-color: #D84846; }
  .right-sight .right-sight-events-list {
    padding-left: 0; }
    .right-sight .right-sight-events-list-item {
      list-style-type: none;
      margin-bottom: 30px; }
      .right-sight .right-sight-events-list-item h6 {
        margin-bottom: 30px; }
        .right-sight .right-sight-events-list-item h6 a {
          text-decoration: none;
          color: #fff; }
      .right-sight .right-sight-events-list-item figure img {
        height: 130px;
        width: 100px;
        object-fit: cover;
        float: left;
        margin-right: 15px; }
      .right-sight .right-sight-events-list-item .right-sight-events-date {
        font-size: 14px;
        color: #f2e6c1;
        margin-bottom: 0; }
      .right-sight .right-sight-events-list-item .right-sight-events-body {
        font-size: 12px;
        color: #f7a3a2; }

.post-properties {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  .post-properties ul {
    padding: 0;
    margin: 0;
    line-height: 40px; }
  .post-properties-item {
    display: inline-block;
    list-style-type: none;
    color: #9a9a9a;
    margin-left: 15px;
    font-size: 14px; }
    .post-properties-item .fa {
      margin-right: 10px;
      color: #D84846; }

#language-box {
  position: absolute;
  z-index: 100;
  top: 15%;
  right: 0;
  padding-left: 0;
  background-color: #D84846; }
  #language-box li {
    list-style-type: none;
    text-align: center; }
    #language-box li a {
      padding: 3px 4px;
      text-decoration: none;
      color: #fff;
      display: block;
      font-size: 14px;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -khtml-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -ms-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
      #language-box li a:hover, #language-box li a:focus {
        background-color: #fff;
        color: #D84846; }

#section-header .navbar_custom {
  background-color: #D84846;
  padding: 0; }
  #section-header .navbar_custom .nav-item {
    -webkit-transition: all 0.2s ease-in-out 0s;
    -khtml-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    padding: 33px 42px 33px 42px;
    cursor: pointer;
    position: relative; }
    #section-header .navbar_custom .nav-item:hover {
      background-color: #fff; }
      #section-header .navbar_custom .nav-item:hover .nav-link {
        color: #D84846; }
        #section-header .navbar_custom .nav-item:hover .nav-link span {
          -webkit-transform: translateY(-100%);
          -khtml-transform: translateY(-100%);
          -moz-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          -o-transform: translateY(-100%);
          transform: translateY(-100%); }
    @media screen and (max-width: 991px) {
      #section-header .navbar_custom .nav-item {
        padding: 12px; } }
    #section-header .navbar_custom .nav-item .nav-link {
      font-size: 16px;
      color: #fff;
      padding: 0;
      overflow: hidden; }
      #section-header .navbar_custom .nav-item .nav-link span {
        position: relative;
        display: inline-block;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -khtml-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s; }
        #section-header .navbar_custom .nav-item .nav-link span:after {
          position: absolute;
          font-size: 16px;
          top: 100%;
          left: 0;
          content: attr(data-hover); }
    #section-header .navbar_custom .nav-item .sub-menu {
      position: absolute;
      z-index: 100;
      background-color: #fff;
      text-align: center;
      -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
      min-width: 100%;
      padding: 0;
      top: 90px;
      left: 0; }
      @media screen and (max-width: 991px) {
        #section-header .navbar_custom .nav-item .sub-menu {
          position: relative;
          top: 0; } }
      #section-header .navbar_custom .nav-item .sub-menu .sub-menu-item {
        list-style-type: none;
        padding: 10px; }
        #section-header .navbar_custom .nav-item .sub-menu .sub-menu-item a {
          text-decoration: none;
          color: #D84846;
          white-space: nowrap; }
        #section-header .navbar_custom .nav-item .sub-menu .sub-menu-item:hover {
          background-color: #D84846; }
          #section-header .navbar_custom .nav-item .sub-menu .sub-menu-item:hover a {
            color: #fff; }

#header-about .about-box-top {
  background-color: #F0504E;
  border-left: 70px solid #D84846;
  height: 400px;
  padding: 40px 30px; }
  #header-about .about-box-top p {
    line-height: 1.2; }
  #header-about .about-box-top .porfolio-name {
    font-size: 3rem;
    color: #fff; }
  #header-about .about-box-top .portfolio-name-title {
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1; }
  #header-about .about-box-top .portfolio-name-position {
    font-size: 36px;
    color: #F2E6C1;
    margin-top: 30px;
    letter-spacing: 1px; }
#header-about .about-box-bottom {
  padding: 40px 30px;
  background-color: #3C3C3C;
  border-left: 70px solid #4A4A4A; }
  #header-about .about-box-bottom .contact-number {
    margin-bottom: 0;
    line-height: 1;
    color: #fff;
    font-size: 36px;
    letter-spacing: 2px; }
    #header-about .about-box-bottom .contact-number span {
      color: #757575; }
  #header-about .about-box-bottom address {
    padding: 30px 0 0 0;
    letter-spacing: 1px;
    line-height: 22px;
    font-size: 16px;
    color: #fff; }
  #header-about .about-box-bottom .contact-email {
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff; }
    #header-about .about-box-bottom .contact-email .email-link {
      color: #F0504E;
      text-decoration: underline; }
#header-about .portfolio-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0; }

#news-events-section {
  position: relative;
  overflow: hidden; }
  #news-events-section .last-news-events {
    padding: 15px 0; }
    #news-events-section .last-news-events h3 {
      color: #4A4A4A;
      margin-bottom: 15px; }
    #news-events-section .last-news-events-item {
      display: block;
      text-decoration: none;
      color: #3C3C3C;
      margin-bottom: 15px; }
      #news-events-section .last-news-events-item .fa-clock-o, #news-events-section .last-news-events-item-date {
        color: #D84846;
        font-size: 16px;
        margin-right: 5px; }
  #news-events-section .figure-article {
    text-decoration: none;
    color: #4A4A4A; }
    #news-events-section .figure-article figure {
      height: 100%;
      position: absolute;
      right: -212px;
      top: 0;
      bottom: 0;
      overflow: hidden;
      width: 200px;
      background-color: #D84846; }
      #news-events-section .figure-article figure img {
        position: relative;
        z-index: 2; }
      #news-events-section .figure-article figure:after {
        content: "";
        position: absolute;
        bottom: -228px;
        right: 0;
        width: 200px;
        height: 100%;
        z-index: 1;
        background-color: #8F8C8C;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -khtml-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s; }
    #news-events-section .figure-article:hover {
      color: #8F8C8C; }
      #news-events-section .figure-article:hover figure:after {
        bottom: 0; }

#blog-article .blog-article {
  min-height: 200px;
  background-color: #3C3C3C; }
  #blog-article .blog-article .figure-article {
    text-decoration: none;
    color: #fff; }
    #blog-article .blog-article .figure-article .static-article {
      padding-top: 30px !important; }
    #blog-article .blog-article .figure-article p {
      padding-right: 84px;
      font-size: 15px; }
    #blog-article .blog-article .figure-article h4 {
      color: #fff; }
  #blog-article .blog-article .owl-blog-article .owl-nav {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 60px;
    background: #4A4A4A;
    height: 200px;
    top: 0;
    text-align: center; }
    #blog-article .blog-article .owl-blog-article .owl-nav .owl-prev, #blog-article .blog-article .owl-blog-article .owl-nav .owl-next {
      height: 100px;
      position: relative;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -khtml-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -ms-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
      #blog-article .blog-article .owl-blog-article .owl-nav .owl-prev:hover, #blog-article .blog-article .owl-blog-article .owl-nav .owl-next:hover {
        background-color: #D84846; }
      #blog-article .blog-article .owl-blog-article .owl-nav .owl-prev i, #blog-article .blog-article .owl-blog-article .owl-nav .owl-next i {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -khtml-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #fff; }
    #blog-article .blog-article .owl-blog-article .owl-nav .disabled {
      opacity: 0; }

#press-centre-section {
  min-height: 200px; }
  #press-centre-section:after {
    background-color: #D84846 !important; }
    @media (max-width: 768px) {
      #press-centre-section:after {
        display: none; } }
  #press-centre-section .press-centre-section-article {
    padding: 30px 0; }
    #press-centre-section .press-centre-section-article a {
      text-decoration: none; }
      #press-centre-section .press-centre-section-article a:hover time {
        color: #adadad; }
    #press-centre-section .press-centre-section-article time {
      float: left;
      font-size: 24px;
      color: #F0504E;
      line-height: 0.9;
      margin-right: 10px;
      margin-left: 10px;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -khtml-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -ms-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
      #press-centre-section .press-centre-section-article time span {
        font-size: 45px;
        display: block; }
    #press-centre-section .press-centre-section-article-title {
      color: #4A4A4A;
      margin-bottom: 0; }
    #press-centre-section .press-centre-section-article-content {
      color: #adadad;
      text-align: justify;
      font-size: 12px;
      padding-right: 15px; }
  #press-centre-section .press-centre-section .press-centre-section-link {
    background-color: #F0504E;
    min-height: 200px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -khtml-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
    #press-centre-section .press-centre-section .press-centre-section-link:hover {
      background-color: #adadad; }
    #press-centre-section .press-centre-section .press-centre-section-link a {
      text-decoration: none;
      color: #fff;
      font-size: 50px;
      line-height: 1;
      position: block; }
      #press-centre-section .press-centre-section .press-centre-section-link a span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -khtml-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

#mission-section {
  overflow: hidden; }
  #mission-section .mission-section {
    background-color: #3C3C3C;
    overflow: hidden; }
    #mission-section .mission-section-wrapper {
      cursor: pointer;
      position: relative;
      z-index: 0;
      overflow: hidden;
      min-height: 200px;
      padding: 30px 30px 15px; }
      #mission-section .mission-section-wrapper:before {
        background: #F0504E;
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -khtml-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
        z-index: -5;
        content: ''; }
      #mission-section .mission-section-wrapper:hover:before {
        top: 0; }
      #mission-section .mission-section-wrapper:hover a {
        opacity: 1; }
      #mission-section .mission-section-wrapper:hover p {
        color: #f7a3a2; }
    #mission-section .mission-section-icon {
      float: left;
      color: #fff;
      height: 200px;
      padding-right: 15px; }
    #mission-section .mission-section-content-head {
      color: #fff; }
    #mission-section .mission-section-content-title {
      font-size: 14px;
      margin-top: 15px;
      color: #8F8C8C; }
    #mission-section .mission-section-content a {
      font-size: 16px;
      color: #fff;
      display: inline-block;
      opacity: 0; }
      #mission-section .mission-section-content a .fa-angle-right {
        margin-left: 5px;
        font-size: 18px; }

#final-section:after {
  background-color: #4A4A4A; }
#final-section .final-section {
  background-color: #4A4A4A; }
  #final-section .final-section .final-left-section {
    padding: 30px 30px; }
    #final-section .final-section .final-left-section .footer-brand-name {
      font-size: 60px;
      color: #8F8C8C;
      text-decoration: none;
      display: block;
      line-height: 1;
      letter-spacing: 1px;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -khtml-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -ms-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
      #final-section .final-section .final-left-section .footer-brand-name:hover {
        color: #fff; }
    #final-section .final-section .final-left-section b {
      font-size: 16px;
      color: #8F8C8C; }
      #final-section .final-section .final-left-section b span {
        display: block; }
        #final-section .final-section .final-left-section b span a {
          color: #8F8C8C;
          text-decoration: none;
          -webkit-transition: all 0.2s ease-in-out 0s;
          -khtml-transition: all 0.2s ease-in-out 0s;
          -moz-transition: all 0.2s ease-in-out 0s;
          -ms-transition: all 0.2s ease-in-out 0s;
          -o-transition: all 0.2s ease-in-out 0s;
          transition: all 0.2s ease-in-out 0s; }
          #final-section .final-section .final-left-section b span a:hover {
            color: #fff; }
  #final-section .final-section .final-right-section {
    padding: 30px 30px; }
    #final-section .final-section .final-right-section h3 {
      font-size: 36px;
      color: #8F8C8C;
      letter-spacing: 1px; }
    #final-section .final-section .final-right-section form .form-group_custom {
      margin-bottom: 0;
      border: 1px solid #8F8C8C;
      width: 100%; }
      #final-section .final-section .final-right-section form .form-group_custom .form-control_custom {
        width: 80%;
        background-color: #4A4A4A;
        border-color: #8F8C8C;
        border-radius: 0;
        color: #8F8C8C;
        display: inline;
        border: none; }
      #final-section .final-section .final-right-section form .form-group_custom .btn_custom {
        background-image: url("../images/submit.png");
        background-repeat: no-repeat;
        background-position: 0% 0%;
        height: 42px;
        width: 42px;
        position: relative;
        left: 0;
        background-color: transparent;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -khtml-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s; }
        #final-section .final-section .final-right-section form .form-group_custom .btn_custom:hover {
          background-position: 0% 100%; }
        #final-section .final-section .final-right-section form .form-group_custom .btn_custom:focus {
          outline: none; }

.page-title {
  color: #4A4A4A;
  padding-top: 30px;
  padding-bottom: 15px;
  letter-spacing: 1px; }

#breadcrump {
  position: relative;
  margin-bottom: 30px; }
  #breadcrump:after {
    background-color: #4A4A4A; }
  #breadcrump .breadcrump-section ol {
    margin-bottom: 0 !important;
    border-radius: 0;
    background: #4A4A4A;
    padding: 5px 15px; }
    #breadcrump .breadcrump-section ol .breadcrumb-item > a {
      color: #8F8C8C;
      text-decoration: none;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -khtml-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -ms-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
      #breadcrump .breadcrump-section ol .breadcrumb-item > a:hover {
        color: #fff; }
    #breadcrump .breadcrump-section ol .active {
      color: #fff; }

#contact-section .contact-left h2 {
  color: #4A4A4A; }
#contact-section .contact-left .line {
  width: 100px;
  border: 2px solid #4A4A4A;
  margin: 30px 0; }
#contact-section .contact-left p {
  color: #4A4A4A; }
#contact-section .contact-left .form-group_custom label {
  color: #adadad;
  font-size: 12px; }
#contact-section .contact-left .form-group_custom .form-control_custom {
  border-radius: 0;
  border-color: #adadad;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }
  #contact-section .contact-left .form-group_custom .form-control_custom:focus {
    border-color: #4A4A4A; }
#contact-section .contact-left .form-group_custom .btn_custom {
  background-color: #D84846;
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
  margin-bottom: 15px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }
  #contact-section .contact-left .form-group_custom .btn_custom:hover, #contact-section .contact-left .form-group_custom .btn_custom:focus {
    background-color: #48a03e; }
#contact-section .contact-right hr {
  width: 100%;
  margin-top: 0; }
#contact-section .contact-right .contact-righ-head {
  font-size: 22px;
  color: #D84846;
  letter-spacing: 1px; }
#contact-section .contact-right .social-icon-box {
  display: inline-block;
  margin-right: 5px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-perspective: 800px; }
  #contact-section .contact-right .social-icon-box:hover {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
#contact-section .contact-right .row_custom {
  margin-bottom: 60px; }
#contact-section .contact-right .connection {
  display: block;
  width: 100%; }
  #contact-section .contact-right .connection .fa {
    color: #D84846;
    margin-right: 5px; }
  #contact-section .contact-right .connection .fa-whatsapp {
    color: #34af23; }

#contact-map {
  padding: 30px 0; }

#about-description .about-description-content > p {
  text-align: justify !important; }

#blog-items .blog-items-single-head {
  color: #3C3C3C;
  margin-top: 15px; }
#blog-items .blog-items-single-img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  margin: 15px 0; }
#blog-items .blog-items-single-body {
  color: #adadad;
  font-size: 14px; }
#blog-items .blog-items-single-read-more {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 15px;
  color: #D84846;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  text-decoration: underline; }
  #blog-items .blog-items-single-read-more .fa-angle-right {
    margin-left: 5px; }
  #blog-items .blog-items-single-read-more:hover {
    color: #3C3C3C; }

/*# sourceMappingURL=styles.css.map */
