// *** @author Aysel Amrahli***//
// ----------------------------//

// user select none
.user-select-none{
	@include user-select-none();
}

.container_custom{
	@media (min-width: 1200px) {
		max-width: 1255px!important;
	}
}

.section_after{
	position: relative;
		&:after{
		content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 16%;
    height: 100%;
    z-index: -1;
    background-color:$darken-gray;
    // @media screen and (min-width: 1135px) {
    // 	background-color: transparent!important;
    // }
     @media screen and (max-width: 768px) {
    	background-color: transparent!important;
    }
	}
}
// form
			.form-group_custom{
				label{
					color:$lighten-gray-3;
					font-size: 12px;
				}
				.form-control_custom{
					border-radius: 0;
					border-color: $lighten-gray-3;	
					@include transition();
					&:focus{
						border-color: $gray;
					}
				}
				.btn_custom{
					background-color: $darken-red;
					color:#fff;
					padding: 10px 40px;
					cursor: pointer;
					border-radius: 0;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
					margin-bottom: 15px;
					@include transition();
					&:hover,
					&:focus{
						background-color: $green;
					}
				}
			}


// static article
.static-article{
	padding: 15px 0;
	text-align: justify;
	height: 100%;
	h4{
		color:$gray;
	}
}

#scroll-up{
	display: block;
	padding:5px 15px;
	background-color: $lighten-gray;
	color:#fff;
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 1000;
	display: none;
	@include transition(all 0.2s linear);
	&:hover{
		background-color: $darken-red;
	}
}

// navigation
.navigation-wrapper{
	padding:30px 0;
	text-align: center;
	nav > ul.pagination{
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    display: inline-flex;
     .active > a{
	    	background-color: #f5f5f5;
	    	border-color:  #ddd;
	    }
		.page-item{
			-webkit-border-radius: 0!important;
	    -moz-border-radius: 0!important;
	    border-radius: 0!important;
	    .page-link{
	    	padding:4px 12px;
	    	border-radius: 0;
	    	font-size: 14px;
	    	color:$darken-red;	
	    }
		}
	}
}

.right-sight{
	// news
	&-news{
		width: 100%;
		height: auto;
		padding: 30px 30px;
		background-color: $gray;
		color:#fff;
		&-head{
			// margin-left: 15px;
		}
		&-list{
			padding-left: 0;
			&-item{
				list-style-type: none;
				position: relative;
				margin-top: 12px;
				&:before{
					content:"-";
					position: absolute;
					top:0;
					left:0;
					// color:#fff;
				}
				a{
					text-decoration: none;
					color:#fff;
					margin-left: 15px;
				}
			}
		}
	}

	// events
	.right-sight-events{
		padding: 30px 30px;
		color:#fff;
		background-color: $red;
		&-head {

		}
		&-list{
			padding-left: 0;
			&-item{
				list-style-type: none;
				margin-bottom: 30px;
				h6{
					margin-bottom: 30px;
					a{
						text-decoration: none;
						color:#fff;
					}
				}
				figure{
					 img{
					height: 130px;
					width: 100px;
					object-fit:cover;
					float:left;
					margin-right: 15px;
				}
				}
				.right-sight-events-date{
					font-size: 14px;
					color:#f2e6c1;
					margin-bottom: 0;
				}
				.right-sight-events-body{
					font-size: 12px;
					color:$pink;
				}
			}
		}
	}
}

// post-properties
.post-properties{
	border-top:1px solid #ddd;
	border-bottom: 1px solid #ddd;
	ul{
		padding: 0;
		margin:0;
		line-height: 40px;
	}
	&-item{
		display: inline-block;
		list-style-type: none;
		color:$lighten-gray-4;
		margin-left: 15px;
		font-size: 14px;
		.fa{
			margin-right: 10px;
			color:$red;
		}
	}
}

// share-social-networks
.share-social-networks{
	padding:30px 0;
	.share{
		display: inline-block;
		padding:4px 12px;
		margin-right: 15px;
		text-decoration: none;
		font-size: 12px;
		@include border-radius(3px);
		.fa-twitter,.fa-facebook{
			margin-right: 5px;
		}
	}
	.share-twitter{
		background-color: $twitter;
		color:#fff;
	}
	.share-facebook{
		background-color: $facebook;
		color:#fff;
	}
	.share-google-plus{
		background-color: #fff;
		border:1px solid #ddd;
		color:$google-plus;
	}
}

// comment-box
.comment-box{
	&-written-by{
	width: 100%;
	height: auto;
	margin: 30px 0;
	padding: 15px 30px 30px 30px;
	background-color: $gray;
	h2{
		color:#fff;
		margin-bottom: 15px;
	}
	&-img{
		width: 80px;
		height: 80px;
		float: left;
		margin-right: 15px;
		background-image: url('../images/user.png');
		background-repeat: no-repeat;
		background-size: cover;
		img{
			width: 100%;
			height: 100%;
			object-fit:cover;
		}
	}
	&-body{
		color:$lighten-gray-4;
		overflow: hidden;
			span{
				display: block;
				margin-top: 15px;
				a{
					color:#fff;
					text-decoration: none;
				}
	}
	}
	}
	.no-comment{
		color:$lighten-gray-4;
	}
	.leave-comment{
		color:$gray;
		margin-bottom: 30px;
	}
}