// *************FONTS**********//
@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/Roboto-Regular.ttf");
 }
@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "changa-one";
  src: url("../fonts/ChangaOne-Regular.ttf");
}

.roboto-regular{
	font-family:'roboto-regular', serif;
}
.roboto-medium{
	font-family:'roboto-medium', serif;
}
.roboto-bold{
	font-family:'roboto-bold', serif;
}
.roboto-light{
	font-family:'roboto-light', serif;
}
.changa-one{
	font-family:'changa-one';
}