// ************BASE VARIABLES**********//

// redColor
$red: 							#F0504E;
$darken-red: 				#D84846;

// grayColor
$gray: 							#4A4A4A;
$darken-gray: 			#3C3C3C;
$lighten-gray: 			#8F8C8C;
$lighten-gray-2:   	#757575;
$lighten-gray-3: 		#adadad;
$lighten-gray-4: 		#9a9a9a;

// milkColor
$milk: 							#F2E6C1;
$pink: 							#f7a3a2;

// greenColor
$green: 						#48a03e;
$greenWhatsapp: 		#34af23;

// social network colors
$twitter: 					 #0084b4;
$facebook: 					 #3b5998;
$google-plus: 			 #d34836;